/*.jfx-button > .text {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font: "Microsoft YaHei Light";
}*/

.jfx-button:hover {
    -fx-background-color: #4691c8;
    -fx-fill: white;
}

.button > .text {
    -fx-font-size: 20px;
    -fx-font-family: "Microsoft YaHei Light";
}

.btnQAQ > .text {
    -fx-font-size: 15px;
    -fx-font-family: "Microsoft YaHei UI";
}

.hBox {
    -fx-background-color: transparent;
}
.jfxMasonryPane {
    -fx-background-color: transparent;
}
.vBox {
    -fx-background-color: #b7b7b7;
}