.popover > .border {
    -fx-stroke: linear-gradient(to bottom, rgba(0,0,0, .3), rgba(0, 0, 0, .7)) ;
    -fx-stroke-width: 0.5;
    /*-fx-fill: rgba(255,0,0, 0.5); !* instead -fx-background-color *!*/
    /*-fx-fill: transparent; !* instead -fx-background-color *!*/
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,.2), 10.0, 0.5, 2.0, 2.0);
    -fx-cursor: move;
    -fx-opacity: 0.85;
}

.popover {
    -fx-border-color: pink;
    -fx-border-width: 3;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}