.new-song-list-view {
    -fx-background-color: transparent;
}
.new-song-list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background-color: transparent;
    -fx-cell-size: 42;
    -fx-font-size: 14;
}
.new-song-list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:selected {
    -fx-background-color: #3d6e9a;
    /*-fx-background-radius: 10;*/
    -fx-text-fill: #6331ff;
}
.new-song-list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:hover {
    -fx-background-color: #4fb3f2;
    /*-fx-background-radius: 10;*/
}
/*-----------------------------------------------------------------------------------------*/
.rank-list-view > .virtual-flow > .clipped-container > .sheet .list-cell {
    -fx-cell-size: 30;
    -fx-font-size: 15;
    -fx-background-color: transparent;
}
.rank-list-view{
    -fx-background-color: transparent;
}
.rank-list-view > .virtual-flow > .clipped-container > .sheet .list-cell:filled:hover {
    -fx-background-color: #b7b7b7;
}
.rank-list-view > .virtual-flow > .clipped-container > .sheet .list-cell:filled:selected {
    -fx-background-color: #67959c;
}
.rank-list-view > .virtual-flow > .clipped-container > .sheet .list-cell:selected > .text {
    -fx-fill: #ff67d4;
    -fx-font-family: "Microsoft YaHei";
}
/*-----------------------------------------------------------------------------------------*/

.titled-pane:collapsed > .title {
    -fx-background-color: #939393;
}

.titled-pane > .title {
    -fx-pref-height: 30;
}

.titled-pane > .content {
    -fx-background-color: transparent;
}

.rank-vbox {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #F9F9F9;
}
/*-----------------------------------------------------------------------------------------*/
.pagination > .pagination-control > .page-information > .text {
    -fx-opacity: 0;
}
.pagination > .pagination-control > .control-box > .number-button > .text {
    -fx-font-family: "Microsoft YaHei UI Light";
    -fx-font-size: 12px;
}

.button > .text {
    -fx-font-family: "Microsoft YaHei UI Light";
    -fx-font-size: 13px;
}
.my-button {
    -fx-border-color: gray;
    -fx-border-radius: 5;
    -fx-background-color: transparent;
    -fx-background-radius: 5;
}

.text {
    -fx-font-family: "Microsoft YaHei UI Light";
    -fx-font-size: 13px;
}

/*-----------------------------------*/
.list-view > .virtual-flow > .scroll-bar {
    -fx-background-color:transparent;
    -fx-pref-width: 10;
}
.list-view > .virtual-flow > .scroll-bar > .track {
    -fx-background-color:transparent;
}
.list-view > .virtual-flow > .scroll-bar> .thumb {
    -fx-background-color:#4691c8;
    -fx-opacity: 0.5;
    -fx-background-radius: 0;
}
.list-view > .virtual-flow > .scroll-bar > .thumb:hover {
    -fx-background-color:#4691c8;
    -fx-opacity: 0.8;
}
.list-view > .virtual-flow > .scroll-bar> .thumb:selected {
    -fx-background-color:#4691c8;
    -fx-opacity: 1.0;
}
.list-view > .virtual-flow > .corner {
    -fx-background-color:transparent;
}