/*-----------------------------------*/
.scroll-bar {
    -fx-background-color:transparent;
    -fx-pref-width: 10;
}
.scroll-bar > .track {
    -fx-background-color:transparent;
}
.scroll-bar> .thumb {
    -fx-background-color:#4691c8;
    -fx-opacity: 0.5;
    -fx-background-radius: 0;
}
.scroll-bar > .thumb:hover {
    -fx-background-color:#4691c8;
    -fx-opacity: 0.8;
}
.scroll-bar> .thumb:selected {
    -fx-background-color:transparent;
    -fx-opacity: 1.0;
}