.split-pane {
    -fx-background-color: transparent;
    -fx-border-color: #00BCD4 #B7B7B7 #B7B7B7 #608CC7;
    -fx-border-width: 0;
    -fx-padding: -1;
}

/*------------------*/
.split-pane > .split-pane-divider {
    -fx-background-color:gray;
    -fx-scale-x:0.5;
}
.split-pane > .split-pane-divider:hover {
    -fx-background-color:pink;
    -fx-scale-x:0.5;
}
/*------------------*/

.jfxTabPane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0 0 0 0;
}