.split-pane {
    -fx-background-color: transparent;
    -fx-border-color: #00BCD4 #B7B7B7 #B7B7B7 #608CC7;
    -fx-border-width: 0;
    -fx-padding: -1;
}

/*------------------*/
.split-pane > .split-pane-divider {
    -fx-background-color:#4192c2;
    -fx-scale-y:1.0;
    -fx-scale-x: 0.5;
    -fx-padding: 0 0.1em 0 0.1em;
}
.split-pane > .split-pane-divider:hover {
    -fx-background-color: #4192c2;
}
/*------------------*/

.jfxTabPane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0 0 0 0;
}