.titled-pane > .title {
    /*-fx-pref-height: 20;*/
}

/*--------------------------------------------------------------------*/
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-focus-color: transparent;
}

.table-view .column-header-background {
      -fx-background-color: #B7CBDE;
      -fx-border-radius: 10 0 0 10;
      -fx-background-radius: 10 0 0 10;
      -fx-border-width: 3;
  }

.table-view .column-header {
    -fx-pref-height: 30;
    -fx-border-color: #b7b7b7;
    -fx-border-width: 0 1 0 0;
}

.column-header > .label {
    -fx-alignment: CENTER-LEFT;
}

.textColumn, .numberColumn {
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 0 10 0 10;
}

.firstColumn > .label {
    -fx-alignment: CENTER;
    -fx-padding: 0 10 0 0;
}

.firstColumn {
    -fx-alignment: CENTER;
}

.playingColumn {
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 0 0 0 0;
}

.table-view .column-header .text {
    -fx-font-size: 15px;
    -fx-font-weight: normal;
}

.table-cell, .table-row-cell {
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
}

.table-row-cell {
    -fx-pref-height: 30;
}

.table-row-cell .text {
    -fx-font-family: verdana;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-fill: black;
}

.table-row-cell:even {
    /*-fx-background-color: #f2f2f2;*/
    -fx-background-color: #b7b7b7;
}

.table-row-cell:odd {
    /*-fx-background-color: white;*/
    -fx-background-color: lightgray;
}

.table-row-cell:filled:selected:focused, .table-row-cell:filled:selected {
    -fx-background-color: rgb(52, 109, 207);
}

.table-row-cell:filled:selected:focused:hover, .table-row-cell:filled:selected:hover {
    -fx-background-color: rgb(47, 98, 187);
}

.table-row-cell:filled:selected .text, .table-row-cell:filled:selected:hover .text {
    -fx-fill: white;
}

.table-row-cell:filled:hover {
    -fx-background-color: #8abdc4;
}

.table-row-cell > .table-cell > .iconContainer > .icon {
    -fx-fill: rgb(52, 109, 207);
}

.table-row-cell:filled:selected:focused > .table-cell > .iconContainer > .icon,
.table-row-cell:filled:selected > .table-cell > .iconContainer > .icon {
    -fx-fill: white;
}

.table-view .scroll-bar {
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical .increment-button,
.table-view .scroll-bar:vertical .decrement-button,
.table-view .scroll-bar:vertical .increment-arrow,
.table-view .scroll-bar:vertical .decrement-arrow {
    -fx-pref-height: 0;
    -fx-padding: 3;
}

.table-view .scroll-bar:vertical .track {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #a8a8a8;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.table-view .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #444444;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button,
.table-view .scroll-bar:horizontal .increment-arrow,
.table-view .scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    /*visibility: hidden;*/
}

.separator .line {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #c2c2c2;
}

.controlPane:hover > .control,
.toggleControlPane:hover > .control {
    -fx-opacity: 0.5;
}

.controlPane:pressed > .control,
.toggleControlPane:pressed > .control {
    -fx-opacity: 0.25;
}

/* 设置header的背景颜色*/
.table-view > .column-header-background > .nested-column-header > .table-column {
    -fx-background-color: rgba(179, 10, 182, 0.35);
}

.jfx-text-area {
    -fx-font-size: 13px;
}
.jfx-text-area >  .scroll-pane .scroll-bar {
    -fx-background-color:transparent;
}
.jfx-text-area >  .scroll-pane .scroll-bar > .track {
    -fx-background-color:transparent;
}
.jfx-text-area >  .scroll-pane .scroll-bar> .thumb {
    -fx-background-color:#4691c8;
    -fx-opacity: 0.5;
}
.jfx-text-area >  .scroll-pane .scroll-bar > .thumb:hover {
    -fx-background-color:#4691c8;
    -fx-opacity: 0.8;
}
.jfx-text-area >  .scroll-pane .scroll-bar> .thumb:selected {
    -fx-background-color:#4691c8;
    -fx-opacity: 1.0;
}
.jfx-text-area >  .corner {
    -fx-background-color:transparent;
}
/*********************/
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-column .text {
    -fx-font-family:Microsoft YaHei Light;
    -fx-font-size:15;
}
/*********************/