
p {
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-width: 0.5 0 0 0;
}

.pagination > .pagination-control > .control-box {
    -fx-spacing: 4px;
}

.pagination> .pagination-control> .control-box> .number-button{
    -fx-background-radius: 5;
    -fx-border-color: transparent;
}

.pagination> .pagination-control> .control-box> .left-arrow-button, .right-arrow-button {
    -fx-background-radius: 3;
    -fx-background-color: transparent;
}

.pagination> .pagination-control> .control-box> .left-arrow-button:hover , .right-arrow-button:hover {
    -fx-background-radius: 3;
    -fx-background-color: pink;
}
.pagination> .pagination-control> .control-box> .left-arrow-button:selected , .right-arrow-button:selected {
    -fx-background-radius: 3;
    -fx-background-color: blue;
}